[Desktop Entry]
Type=Application
Comment=Fighting game... in space!
GenericName=Limbs Off
Name=Limbs Off
Icon=limbs-off
Exec=limbs-off
Terminal=false
Categories=Game;
